.experience {
    background-color:$color-white;
    color: $color-dark;
    height: 80rem;
    clip-path: polygon(0 0, 100% 0, 100% 60rem, 0 100%);
    &__description {
        display: flex;
        align-items: center;
        padding-bottom: 4.2rem;
        @include respond(tab-port) {
            flex-direction: column;
            width:80%;
            margin-top: 8rem;
        }//1 rem = 8px < 900px

        .oppotunity {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left:3rem;
            width: 86%;
            @include respond(tab-port) {
                width:100%;
                margin-bottom: 2rem;
                margin-left:0rem;

            }//1 rem = 8px < 900px
            &__title {
                @include h2;
                @include text-linear-primary;
                padding-bottom: 2rem;
                // background-color: yellow;
                @include respond(tab-port) {
                    font-weight: 500;
                }//1 rem = 8px < 900px

            }
            &__content {
                @include text;
                color: $color-dark;
            }
        }
        .pass-ATS {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            width:60%;
            @include respond(tab-port) {
                align-items: start;
                width: 100%;
                margin-top:1rem;
            }//1 rem = 8px < 900px
            
            &__title {
                @include h4;
                @include text-linear-primary;
                padding-bottom: 1rem;


            }
            &__content {
                @include text;
                color: $color-dark;

                & > p {
                    padding-bottom: 3.2rem;
                }

            }
        }
    }

    &__accomplishment {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}


.accomplishment {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__number {
        @include text-linear-primary;
        @include h2;
        @include respond(tab-port) {
            font-weight: 500;
        }//1 rem = 8px < 900px
    }
    &__content {
        @include h4;
        color: $color-dark;
    }
}