.experience {
    background-color:$color-white;
    color: $color-dark;
    height: 70rem;
    clip-path: polygon(0 0, 100% 0, 100% 50rem, 0 100%);



    &__description {
        display: flex;
        align-items: center;
        padding-bottom: 4.2rem;

        .oppotunity {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left:3rem;

            &__title {
                @include h2;
                @include text-linear-primary;
                padding-bottom: 2rem;
                // background-color: yellow;
                @include respond(tab-port) {
                    font-weight: 500;
                }//1 rem = 8px < 900px

            }
            &__content {
                width: 86%;
                @include text;
                color: $color-dark;
            }
        }
        .pass-ATS {
            flex:1;
            // background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-left: 3rem;
            
            &__title {
                width: 60%;
                @include h4;
                @include text-linear-primary;
                padding-bottom: 1rem;


            }
            &__content {
                width: 60%;
                @include text;
                color: $color-dark;

                & > p {
                    padding-bottom: 3.2rem;
                }

            }
        }
    }

    &__accomplishment {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}


.accomplishment {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__number {
        @include text-linear-primary;
        @include h2;
        @include respond(tab-port) {
            font-weight: 500;
        }//1 rem = 8px < 900px
    }
    &__content {
        @include h4;
        color: $color-dark;
    }
}