.footer {
    height: 22.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include respond(phone) {
            flex-direction: column; 
            margin-bottom: 1.5rem;   
        } //1 rem = 8px < 600px
        &__logo {
            margin-left: 1.5rem;
            display: flex;
            @include respond(phone) {
                margin-left: 0rem;    
            } //1 rem = 8px < 600px
            &__icon {
                margin-right: 1.5rem;
                position:relative;
                margin-top: -0.5rem;
            }
            &__name {
                @include logo;
            }
        }
        //nav bar
        &__nav {
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            margin-right: 1.5rem;
            &__item {
                display: flex;
                @include text__nav;
                padding:0 2rem;
                @include respond(phone) {
                    padding:0 1rem;
                } //1 rem = 8px < 600pxyoioui
                a {
                    color: $color-dark;
                }
                
            }
        }
    }
    &__copy-right {
        @include text;
        color: $color-dark;
        opacity: 50%;
    }
}