//hero page: 1.header 2.section.main 3.company logo
.hero {
    padding-bottom: 20rem;

    @include background-color;
    clip-path: polygon(0 0, 100% 0, 100% 74rem, 0 100%);
    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 94rem, 0 100%);
    } //1 rem = 8px < 600px
    @media(max-width: 400px) {
        clip-path: polygon(0 0, 100% 0, 100% 74rem, 0 100%);
    } //1 rem = 8px < 600px
    

    .header {
        height: 8.6rem;
        color:$color-dark;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(phone) {
            flex-direction: column;    
        } //1 rem = 8px < 600px
        
        //logo
        &__logo {
            display: flex;
            align-items: center;
            margin-left: 1.5rem;
            @include respond(phone) {
                margin-left: 0rem;
            } //1 rem = 8px < 600px
            &__image {
                margin-right: 1.5rem;
                position:relative;
                margin-top: -0.5rem;
            }
    
            &__content {
                @include logo;
            }
        }
    //nav bar
    &__nav {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        @include respond(phone) {
            margin-right: 0rem;
        } //1 rem = 8px < 600px
        &__item {
            display: flex;
            @include text__nav;
            padding:0 2rem;
            @include respond(phone) {
                padding:1rem;
            } //1 rem = 8px < 600px
            a {
                color: $color-dark;
            }
            }
        }
    }
}
//2.section.main
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45rem;
    padding-top: 8rem;
    @include respond(tab-port) {
        margin-left: 2rem;
        padding-top: 6rem;
    }//1 rem = 8px < 900px
    @include respond(phone) {
        height: 65rem;
        margin-left: 0rem;
        flex-direction: column;
        padding-top: 4rem;
        text-align:center;
    } //1 rem = 8px < 600px
    @media(max-width: 400px) {
        height: 45rem;
    } //1 rem = 8px < 400px
    &__title{
        max-width: 67rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        @include respond(phone) {
            align-items: center;
        } //1 rem = 8px < 600px
        @media(max-width: 400px) {
            // width:50*.5rem;
            
        } //1 rem = 8px < 400px
    }
    &__pic-frame{
        width: 50rem;
        height: 45rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../resources/png/hero__illstration.png');    
        @include respond(tab-port) {
            width:50*.75rem;
            height: 45*.8rem;
            margin-right: 1rem;
        }//1 rem = 8px < 900px
        @include respond(phone) {
            background-size: cover;
            width:80%;
            margin-right: 0rem;
            margin-left: 6rem;
            border-radius: 12px;
            margin-top: 1rem;
        } //1 rem = 8px < 600px
        @media(max-width: 400px) {
            height: 45*.5rem;
            margin-left: 3rem;
        } //1 rem = 8px < 400px
        @include respond(big-desktop) {
            width:50*1.2rem;
            height: 45*1.2rem;
        }//1 rem = 12 > 1800px
    }
}
    //title {
    .title__primary {
        @include h1;
        color: $color-dark;
        margin-bottom: 1.2rem;
        span {
            @include text-linear-primary;
        }
    }

    .title__secondary {
        @include h4;
        color: $color-primary-dark;
        margin-bottom: 4rem;
        span {
            @include text-linear-accent;
        }
        @include respond(phone) {
            text-align: center;
        } //1 rem = 8px < 600px
    }

//3.brand logos
.logo-container {
    display: flex;
    margin-top: 4.8rem;
    height: 7.6rem;
    // background-color: red;
    justify-content: space-evenly;
    align-items: center;

    &__item{
        // background-color: #fff;
        height: 4.8rem;
        border: none;
        opacity: 50%;
        @include respond(phone) {
            height:4.8*.6rem;
        } //1 rem = 8px < 600px
    }

//trangle h:20rem
    & .tarngle-clip{
        clip-path: polygon(100% 20rem, 0% 100%, 100% 100%);
    }
}





