 .bgc {
    //  background-color: red;
    background-image: linear-gradient(to right bottom, #FFE7DC, #F5C6C0);
    
 }
    .swiper-container {
        height: 66rem;
        margin-top: -20rem;
        //already flex in component
        .swiper-wrapper {
            .swiper-slide {
                font-size:4.8rem;
                // position: absolute;
                // margin: auto auto;
                display: flex;
                justify-content: center;
                align-items: start;
            }     
                 
        }
    } 

    .swiper-button-next, .swiper-button-prev {
        color:$color-accent-dark;
        background-color:rgba($color-white, 0.5);
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }  
    .swiper-button-next::after,.swiper-button-prev::after {
        font-size: 3rem;
        font-weight: 900;
    }

.mentor{
    &__content {
        width:50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12.7rem;

    }
    &__image-container{
        position: relative;
        z-index: 1000;
        width: 10rem;
        height: 10rem;
        // background-color: blue;
        margin-bottom: 2.7rem;
        margin-top: 4.6rem;
        &__img{
            width: 100%;
        }
    }
    &__name {
        @include h3;
        font-size: 3.2rem;
        color:$color-primary-dark;
        text-align: center;
        margin-bottom: .8rem;
    }
    &__job-position {
        @include text__bold;
        text-align: center;
        margin-bottom: 4.6rem;
        opacity: 90%;
        mix-blend-mode:color-burn;
 
    }

    &__job-experience {
        @include text;
        text-align: justify;
        margin-bottom: 2.8rem;
        line-height: 2;
    }
}
