
.price {
    padding-top: 7.3rem;
    padding-bottom: 18.7rem;
    display: flex;
    flex-direction: column;
    @include respond(phone) {
        padding-top: 3rem;
        padding-bottom: 5rem;
    } //1 rem = 8px < 600px
    &__title {
        @include text-linear-primary;
        @include h2;
        margin-bottom: 7.1rem;
        text-align: center;
    }
    &__cta-button {
        margin-top: -1rem;
    }
}